body
{
    background-color: rgb(255, 225, 187);
    background-image: url("../images/CURRY.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
#title
{
    text-align: center;
    font-family:Brush Script MT;
    color: rgb(104, 54, 8);
    font-size: 80px;
}
.title
{
  text-decoration: none;
}


#titleimg
{
  color: white;
  font-size: 40px;
  text-shadow: 0px 0px 8px #000000;
}

.t
{
  background-color: rgba(104, 54, 8, 0.493);
}

#material
{
  background-color: rgb(255, 248, 208);
}
.step
{
  background-color: rgb(255, 248, 208);
  margin: 15px;
}
p.stepp
{
  font-size: 24px;
}
#ft
{
    text-align: center;
    color: rgb(255, 255, 255);
}